body {
    word-break: break-all;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #476C96;
}

.navbar .navbar-nav > li > a {
    text-decoration: none;
    font-size: 16px;
    padding: 20px 35px 20px 0;
    color: #737373;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav .bs-active > a {
    font-weight: 700;
    color: #246394;
    background-color: transparent;
}

.navbar .navbar-header .navbar-toggle:hover,
.navbar .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.container-fluid {
    margin: 0 10% 0 10%;
    padding: 0;
}

.main-default {
    margin: 23px 10% 38px 10%;
}

.navbar-brand {
    font-family: x-locale-heading-primary, Palatino, "Palatino Linotype", x-locale-heading-secondary, serif;
    font-size: 25px;
    font-weight: 600;
    color: #476C96!important;
    padding: 20px 35px 20px 15px;
    height: 60px;
}

.topicItem {
    border-bottom: 1px solid #e6e6e6;
    padding: 11px 0;
    position: relative;
}

.topicItem .article-eyebrow {
    line-height: 1.3;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #414141;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.topicItem .article-title {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: PingFang SC,Tahoma,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: .02em;
}

.topicItem .article-title a {
    display: block;
    color: #414141;
    cursor: pointer;
}

.topicItem .article-title a:hover {
    color: #10579e;
    text-decoration: underline;
}

.archive-content {
    margin: 38px 30% 2% 10%;
}

.archive-author {
    padding-top: 8px;
    margin: 0 0 20px;
    position: relative;
    font-size: 16px!important;
    color: #575757;
}

.archive-buttons {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.archive-buttons .archive-sub-button {
    margin-right: 10px;
    margin-bottom: 13px;
}

.archive-sub-button {
    border: 1px solid #c5c5c5;
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 18px;
    cursor: pointer;
    user-select: none;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgba(0,0,0,.9);
}


.archive-sub-button-text {
    margin-right: 3px;
    white-space: nowrap;
}

.archive-sub-button-content{
    font-size: 14px;
    color: rgba(0,0,0,.5);
    white-space: nowrap;
}

.archive-tag-head {
    height: 36px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
    color: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 25px;
}

.archive-tag-head span {
    margin-left: 8px;
}

.archive-main {
    margin-top: 20px;
}

.archive-article-item .item-row {
    margin-bottom: 12px;
}

.archive-article-item .item-row svg {
    margin-left: 0.5em;
    margin-right: 0.3em;
}

.archive-article-item a {
    font-size: 16px;
    color: rgba(0,0,0,.9);
    line-height: 1.4em;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 8px;
    cursor: pointer;
}

.archive-article-item a:hover {
    color: #10579e;
    text-decoration: underline;
}

.archive-article-item .date {
    font-size: 14px;
    line-height: 1.4em;
    color: rgba(0,0,0,.5);
    display: inline-block;
}

.archive-bq {
    margin-top: 50px;
}

.footer p {
    text-align: center;
}

.footer, .footer a {
    color: #737373;
}

.footer a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navbar .navbar-header .navbar-toggle {
        border-color: #fff;
    }

    .navbar .navbar-header .navbar-toggle:hover,
    .navbar .navbar-header .navbar-toggle:focus {
        background-color: #f9f9f9;
        border-color: #f9f9f9;
    }

    .navbar .navbar-nav > li > a:hover {
        background-color: #f9f9f9;
    }

    .navbar-brand {
        font-size: 23px;
    }

    .navbar .navbar-nav > li > a {
        font-size: 16px;
        padding: 10px 15px;
    }

    .container-fluid {
        margin: 0;
        padding: 0 15px;
    }

    .main-default {
        margin: 20px 0 30px 0;
        padding: 0 15px;
    }

    .topicItem {
        padding: 10px 0;
    }

    .topicItem .article-eyebrow {
        line-height: 1.4;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .topicItem .article-title {
        line-height: 1.33333;
        font-size: 18px;
    }

    .archive-content {
        margin: 38px 5% 38px 5%;
    }
}

@media (min-width: 1024px) {
    .topicItem {
        padding: 13px 0;
    }

    .topicItem .article-eyebrow {
        line-height: 1.47143;
        font-size: 13px;
        letter-spacing: 1.3px;
    }

    .topicItem .article-title {
        line-height: 1.25;
        font-size: 20px;
    }
}