<head>
    <title>{% if page.title %}{{ page.title }}{% else %}Haiyung's Personal Website{% endif %}</title>
    <style type="text/css">
        .name,
        .mtime {
            text-align: left;
        }

        .size {
            text-align: right;
        }

        td {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        table {
            border-collapse: collapse;
        }

        tr th {
            border-bottom: 2px groove;
        }
    </style>
</head>