<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>{% if page.title %}{{ page.title }}{% else %}你好世界{% endif %}</title>
    <meta name="description" content="关于世界与市场，关于技术与力量。">
    <meta name="author" content="haiyung">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160787637-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-160787637-1');
    </script>
    <script>
        ((window.gitter = {}).chat = {}).options = {
            room: 'haiyung/blog',
            activationElement: '.gitter-open-chat-button'
        };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</head>