<!DOCTYPE html>
<html>
{% include home_header.html %}

<body>
    <div class="archived">
        This site has been archived by the owner. It is now read-only.
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="一些重要事情的些许探讨、些许解释">HAIYUNG-BLOG</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li class="bs-active">
                        <a href="/archive">分门别类</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>

    <main class="archive-content">
        {{ content }}
    </main>
    <footer class="footer">
        <p class="copyright">
            Copyright © 2017-{{ site.time | date: '%Y' }} ·
            王侯将相宁有种乎
        </p>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async="" src="https://zz.bdstatic.com/linksubmit/push.js"></script>
</body>

</html>